<?xml version="1.0" encoding="utf-8" ?>
<templates>
	<position>
		<add name="Sản phẩm liên quan - giỏ hàng" value="0" resourcefile="" />
	</position>

	<templatelist xsltname="EST-DS-StoreBrand.xslt" name="Danh sách Store Brands" />
	<templatelist xsltname="EST-DS-StoreCategory.xslt" name="Danh sách Store Category" />

	<templatedetail xsltname="EST-CT-Store.xslt" name="Chi tiết Store Brands" />
</templates>