<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Header - Main Menu" value="1" resourcefile="" />
      <add name="Home - Navigation - Banner" value="2" resourcefile="" />
      <add name="Rewards - Nav" value="4" resourcefile="" />
      <add name="Customer Services - Nav" value="8" resourcefile="" />
      <add name="Store - Nav" value="16" resourcefile="" />
    </position>

</settings>