section.location-list
	.container
		.row
			.col-sm-10.col-lg-8.offset-sm-1.offset-lg-2.col-xl-6.offset-xl-3
				.location-desc
					h2 Just a 20-minute drive from the Central Business District via Hanoi Highway or Thu Thiem Tunnel, hassle-free access from District 1, and also within close proximity to the future metro station.
		.row.tab-nav
			.col-md-3
				figure.item.active(data-target="#location-tab-1")
					.img-box
						img(src="./img/location/l_1.png", alt="")
					figcaption
						p Parking entrances at 
							strong Song Hanh Street
			.col-md-3
				figure.item(data-target="#location-tab-2")
					.img-box
						img(src="./img/location/l_3.png", alt="")
					figcaption
						p Bues routes 
							strong 6, 30,52, 60-3, 60-4, 104 
							| have stop just a short walk to 
							strong Estella Place
			.col-md-3
				figure.item(data-target="#location-tab-3")
					.img-box
						img(src="./img/location/l_4.png", alt="")
					figcaption
						p Drop - off at 
							strong Song Hanh Street

			.col-md-3
				figure.item(data-target="#location-tab-4")
					.img-box
						img(src="./img/location/l_5.png", alt="")
					figcaption
						p Under Construction
		.row.tab-content
			.col-12
				.location.show#location-tab-1
					.img-map
						img(src="./img/location/l_6.jpg", alt="")
					.content
						.img
							img(src="./img/location_mark.png", alt="")
						.desc
							h4 Conveniently Located
							p Estella Place Shopping Mall is located at 88 Song Hanh – District 2, just an 20-minute drive from the Central Business District via Hanoi Highway or Thu Thiem Tunnel, hassle-free access from District 1, and also within close proximity to the premium residential areas of An Phu, An Khanh and Thao Dien.
						a.btn.btn-view-map(href="#") View Google Maps
				.location#location-tab-2
					.img
						img(src="./img/location/l_6.jpg", alt="")
					.content
						.img
							img(src="./img/location_mark.png", alt="")
						.desc
							h4 Conveniently Located
							p Estella Place Shopping Mall is located at 88 Song Hanh – District 2, just an 20-minute drive from the Central Business District via Hanoi Highway or Thu Thiem Tunnel, hassle-free access from District 1, and also within close proximity to the premium residential areas of An Phu, An Khanh and Thao Dien.
						a.btn.btn-view-map(href="#") View Google Maps
				.location#location-tab-3
					.img
						img(src="./img/location/l_6.jpg", alt="")
					.content
						.img
							img(src="./img/location_mark.png", alt="")
						.desc
							h4 Conveniently Located
							p Estella Place Shopping Mall is located at 88 Song Hanh – District 2, just an 20-minute drive from the Central Business District via Hanoi Highway or Thu Thiem Tunnel, hassle-free access from District 1, and also within close proximity to the premium residential areas of An Phu, An Khanh and Thao Dien.
						a.btn.btn-view-map(href="#") View Google Maps
				.location#location-tab-4
					.img
						img(src="./img/location/l_6.jpg", alt="")
					.content
						.img
							img(src="./img/location_mark.png", alt="")
						.desc
							h4 Conveniently Located
							p Estella Place Shopping Mall is located at 88 Song Hanh – District 2, just an 20-minute drive from the Central Business District via Hanoi Highway or Thu Thiem Tunnel, hassle-free access from District 1, and also within close proximity to the premium residential areas of An Phu, An Khanh and Thao Dien.
						a.btn.btn-view-map(href="#") View Google Maps