section.home-1
	article
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					.img(bg-img="./img/banner/b_index.jpg")
						img(src="./img/banner/b_index.jpg", alt="")
					.content
						.container
							h2 Sale up to 50% off 
							p Opening of the Christmas event in 2018
				.swiper-slide
					.img(bg-img="./img/banner/b_index.jpg")
						img(src="./img/banner/b_index.jpg", alt="")
					.content
						.container
							h2 Sale up to 50% off 
							p Opening of the Christmas event in 2018
				.swiper-slide
					.img(bg-img="./img/banner/b_index.jpg")
						img(src="./img/banner/b_index.jpg", alt="")
					.content
						.container
							h2 Sale up to 50% off 
							p Opening of the Christmas event in 2018
	.button-next-section
		span.lnr.lnr-chevron-down