section.home-2
	article
		.item-list
			a.item(href="#")
				figure
					.img-box
						img(src="./img/index/i_1.jpg", alt="")
					figcaption
						h4 Store directory
			a.item(href="#")
				figure
					.img-box
						img(src="./img/index/i_2.jpg", alt="")
					figcaption
						h4 Rewards +
			a.item(href="#")
				figure
					.img-box
						img(src="./img/index/i_3.jpg", alt="")
					figcaption
						h4 Customer Service
			a.item(href="#")
				figure
					.img-box
						img(src="./img/index/i_4.jpg", alt="")
					figcaption
						h4 What's Hot
			a.item(href="#")
				figure
					.img-box
						img(src="./img/index/i_5.jpg", alt="")
					figcaption
						h4 O2O