section.service-list
	.container
		h2.main-title Customer Services
		.row
			.col
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.item(href="service.detail.html")
								figure
									.img-box
										img(src="./img/service/s_1.jpg", alt="")
									figcaption
										h4 O2O
						.swiper-slide
							a.item(href="service.detail.html")
								figure
									.img-box
										img(src="./img/service/s_2.jpg", alt="")
									figcaption
										h4 Facilities
						.swiper-slide
							a.item(href="service.detail.html")
								figure
									.img-box
										img(src="./img/service/s_3.jpg", alt="")
									figcaption
										h4 Services
						.swiper-slide
							a.item(href="service.detail.html")
								figure
									.img-box
										img(src="./img/service/s_2.jpg", alt="")
									figcaption
										h4 Blah blah