section.service-detail
	.container
		h2.main-title Facilities
		.row
			-for(i=1;i<7;i++)
				.col-sm-6.col-lg-4
					a.item(href="service.detail.html")
						figure
							.img-box
								img(src="./img/service_facility/s_"+i+".jpg", alt="")
							figcaption
								h4 O2O