section.store-brand
	.container.brand-filter
		ul
			li
				a(href="#") All
			li
				a(href="#") #
			li
				a(href="#") A
			li
				a(href="#") B
			li.active
				a(href="#") C
			li
				a(href="#") D
			li
				a(href="#") E
			li
				a(href="#") F
			li
				a(href="#") G
			li
				a(href="#") H
			li
				a(href="#") I
			li
				a(href="#") J
			li
				a(href="#") K
			li
				a(href="#") L
			li
				a(href="#") M
			li
				a(href="#") N
			li
				a(href="#") O
			li
				a(href="#") P
			li
				a(href="#") Q
			li
				a(href="#") R
			li
				a(href="#") S
			li
				a(href="#") T
			li
				a(href="#") U
			li
				a(href="#") V
			li
				a(href="#") W
			li
				a(href="#") Y
			li
				a(href="#") Z
	.container.brand-list
		.row
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 ABC-MART Grand Stage
						.desc
							p L3-07~10
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Versace
						.desc
							p L4-17
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Louis Vuitton
						.desc
							p B2-12
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Swarovski
						.desc
							p L2-32
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 MUZZEL
						.desc
							p L5-08
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 SneakSoul
						.desc
							p L3-33/34
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 UNIQLO
						.desc
							p L2-12
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Victori's Secret PINK
						.desc
							p L4-29
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 WEEKEND MaxMara
						.desc
							p B2-05
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Pierrot Shopping
						.desc
							p B2-6A
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Ermenegildo Zegna
						.desc
							p L2-06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06
			.col-6.col-md-4.col-lg-3
				a.item(href="store.detail.html")
					.item-box
						.title
							h4 Porsche Design
						.desc
							p L1-05/06