section.store-level
	.container
		.row
			.col-12
				ul.tab-nav
					li.active
						a(data-target="#sl-tab-1") L1
					li
						a(data-target="#sl-tab-2") L2
					li
						a(data-target="#sl-tab-3") L3
					li
						a(data-target="#sl-tab-4") L4
					li
						a(data-target="#sl-tab-5") L5
			.col-12
				.tab-content
					.sl-tab.show#sl-tab-1
						.content
							a(href="./img/s_level/l_1.png" data-fancybox="sl-1")
								img(src="./img/s_level/l_1.png", alt="")
					.sl-tab#sl-tab-2
						.content
							a(href="./img/s_level/l_1.png" data-fancybox="sl-2")
								img(src="./img/s_level/l_1.png", alt="")
					.sl-tab#sl-tab-3
						.content
							a(href="./img/s_level/l_1.png" data-fancybox="sl-3")
								img(src="./img/s_level/l_1.png", alt="")
					.sl-tab#sl-tab-4
						.content
							a(href="./img/s_level/l_1.png" data-fancybox="sl-4")
								img(src="./img/s_level/l_1.png", alt="")
					.sl-tab#sl-tab-5
						.content
							a(href="./img/s_level/l_1.png" data-fancybox="sl-5")
								img(src="./img/s_level/l_1.png", alt="")