section.reward-list
	.container
		.row
			.col-lg-6.offset-xl-1.order-lg-2
				.img-box
					img(src="./img/reward/r_1.jpg", alt="")
			.col-lg-6.col-xl-5.order-lg-1
				.content-wrap
					.content
						h2.main-title Customer Loyalty Program
						p Customer Loyalty Program of Estella Place & Saigon Centre – Reward+ is coming soon with many exclusive benefits. See you in December 2018!
					.button-wrap
						a.btn.btn-play(href="#")
							span.mdi.mdi-play
						a.btn.btn-appstore(href="#")
							img(src="./img/app_store.jpg", alt="")
						a.btn.btn-gplus(href="#")
							img(src="./img/g_plus.jpg", alt="")