footer.vhs-footer
	.info
		.container
			.row
				.col-lg-6
					.footer-left
						.address-info
							h3 Estella Place - Enjoy your moment
							p 88 Song Hanh, An Phu ward, District 2, HCMC
							ul
								li Hotline: 
									strong 
										a(href="tel:2837000811") (84-28) 37 000 811  
								li Email: marketing@estellaplace.com.vn
						.address-bottom
							p Jointly developed by:
								span 
									img(src="./img/keppel.png", alt="")
								span 
									img(src="./img/tienphuoc.png", alt="")
				.col-lg-5.offset-lg-1
					.footer-right
						.form
							h3 Get ahead of the crowd
							.Module
								.subscribe
									#ctl00_mdl219_ctl00_subscribe1_UpdatePanel1
										.subscribefrm
											input.subscribeemail
											button.subscribebutton Subsscribe
											span.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập email.
											span.fa.fa-exclamation-triangle(style='display:none;') Email không hợp lệ.
						.social
							a.fab.fa-facebook-f(href="#")
							a.fab.fa-youtube(href="#")
							a.fab.fa-instagram(href="#")
	.copyright
		.container
			.row
				.col-12
					.copyright-wrap
						p Copyright © 2018 Estella Place. All right reserved. Designed by 
							a(href="https://canhcam.vn") Cánh Cam.
						ul
							li
								a(href="#") Term & Conditions
							li
								a(href="#") Sitemap