section.store-nav
	.container
		h2.main-title Store Directory
		.row
			.col-lg-4.col-sm-8.offset-lg-4.offset-sm-2
				.store-search
					input(placeholder="Quick search (Ex: Versace)")
					button 
			.col-12
				nav.store-menu-list
					ul
						li.nav-item.active
							a.nav-link(href="store.brand.html") Brands
						li.nav-item
							a.nav-link(href="store.category.html") Categories
						li.nav-item
							a.nav-link(href="store.level.html") Levels