section.page-banner
	.page-banner-title
		h2 Contact Us
		.swiper-container
			.swiper-wrapper
				.swiper-slide
					img(src="./img/banner/b_contact.jpg", alt="")
				.swiper-slide
					img(src="./img/banner/b_contact.jpg", alt="")
	.Module.breadcrumb-wrap
		ol.breadcrumb
			li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				a.itemcrumb(href='http://preview6308.canhcam.com.vn', itemprop='url')
					span(itemprop='title') Home
			li(itemscope='', itemtype='http://data-vocabulary.org/Breadcrumb')
				a.itemcrumb.active(href='http://preview6308.canhcam.com.vn/contact-us', itemprop='url')
					span(itemprop='title') Contact us