<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="EST-DS-WhatsHot.xslt" name="Danh sách What's Hot"></templatelist>
  <templatelist xsltname="EST-DS-Location.xslt" name="Danh sách Location"></templatelist>
  <templatelist xsltname="EST-Service-News-List.xslt" name="Danh sách Service"></templatelist>

  <templatedetail xsltname="EST-CT-WhatsHot.xslt" name="Chi tiết What's Hot"></templatedetail>

  <position>
    <add name="Store Detail - Event, Promotion" value="1" resourcefile="" />
  </position>
</templates>