section.store-detail
	.container
		.row
			.col-lg-5.col-xl-4.col-md-6
				.store-img
					img(src="./img/s_detail/d_1.jpg", alt="")
			.col-lg-7.col-xl-8.col-md-6
				.store-content
					.title
						h2 Versace
					.fullContent
						ul
							li
								span.fas.fa-list-alt
								span Women's Fashion
							li
								span.mdi.mdi-map-marker
								span Level 2: Between Jewel and Carousel Courts
							li
								span.mdi.mdi-clock-outline
								span 10h00 - 20h30
							li
								span.mdi.mdi-phone
								span 714.380.3237
							li
								span.fas.fa-globe
								span www.versace.com
							li
								span.fab.fa-facebook-f
								span www.facebook.com/versace
					.briefContent
						p Versace designs, manufactures, distributes and retails fashion and lifestyle products including haute couture, women and men ready-to-wear, jewelry, watches, accessories, fragrances and furniture. 
section.store-detail-event
	.container
		h2.main-title Events - Promotions
		.row
			.col-12
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/s_detail/d_2.jpg", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/s_detail/d_3.jpg", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/s_detail/d_4.jpg", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/s_detail/d_3.jpg", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018