header.vhs-header
	.container
		.row.no-gutters.align-items-center
			.logo
				.img
					a(href="/")
						img.desktop(src="./img/logo_2.png", alt="")
						img.mobile(src="./img/logo.png", alt="")
			.main-nav
				ul
					li
						a(href="/") Home
					li
						a(href="store.brand.html") Store Directory
					li
						a(href="promotion.html") What's Hot
					li
						a(href="service.html") Customer Service
					li
						a(href="reward.html") Rewards+
					li
						a(href="location.html") Location
					li
						a(href="contact.html") Contact Us
			.language
				.current-lang
					.img
						img(src="./img/uk.png")
				ul
					li
						a(href="#")
							img(src="./img/uk.png")
					li
						a(href="#")
							img(src="./img/uk.png")
				span.lnr.lnr-chevron-down
			.menu-toggle
				span.fas.fa-bars
			.search
				span.fas.fa-search
				.Module.Module-142
					.searchbox
						input.searchinput
						button.searchbutton(type="submit") Search