extends _layout/_layout.pug

block var
	- title = 'Contact'
	- bodyClass = 'contact-page'

block header
	include ../lib/header/index.pug
block main
	include ../lib/banner/index.pug
	include ../lib/contact/index.pug
block footer
	include ../lib/footer/index.pug