extends _layout/_layout.pug

block var
	- title = 'Popup'
	- path = "popup"
	- bodyClass = 'popup-page'

block main
	.button-show-popup
		a(href="javascript:void(0)" data-fancybox="popup_1") Popup 1
		a(href="javascript:void(0)" data-fancybox="popup_2") Popup 2
		a(href="javascript:void(0)" data-fancybox="popup_3") Popup 3
	.container
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
		section
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis ad dolorum fuga! Unde earum ad fugiat voluptatem facilis. Quibusdam voluptates officiis deleniti ratione quasi quisquam dignissimos perspiciatis possimus. Ipsam, dolorem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, vel sapiente est laborum iste ipsa quis. Tempora, praesentium ullam eos dolorum dolores natus doloremque, omnis, quasi quae sunt eligendi laboriosam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ullam eligendi, optio, a quis eveniet neque voluptatibus quod autem sapiente molestiae magnam reprehenderit totam quo sunt harum architecto, possimus officia.
	.modal#popup_1
		.modal-content
			.modal-close
				span.lnr.lnr-cross
			.modal-body
				a(href="#")
					img(src="https://images.unsplash.com/photo-1550350417-9c82a8c5b4e9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=768&h=576&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")
			.modal-footer
				a(href="#") No thanks, lorem ipsum dolor sit amet.
		.overlay
	.modal#popup_2
		.modal-content
			.modal-close
				span.lnr.lnr-cross
			.modal-body
				.title
					figure
						.imgbox
							img(src="https://images.unsplash.com/photo-1551632917-c4b0de8ed64d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=70&h=70&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")
						figcaption
							h4 HYPERBEAST
							p Free for iPhone, iPad and Android phones
				.description
					p Receive the latest updates, breaking stories and headlining articles curated by our editiorial team just for you.
				.button
					a(href="#")
						img(src="../img/ios.png", alt="")
					a(href="#")
						img(src="../img/android.png", alt="")
		.overlay
	.modal#popup_3
		.modal-content
			.modal-close
				span.lnr.lnr-cross
			.modal-body
				.form
					.imgbox
						img(src="https://images.unsplash.com/photo-1551122966-d7dd4ca5d13c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9", alt="")
					.form-wrapper
						h4 Estella Place
						p Signup to our newsletter to get $10 off your first order, as well as news of our latest offers and product release
						.form-group
							input#register(type="text", name="register")
							button Subscribe
		.overlay