section.promotion-detail
	.container
		.row
			.col-lg-8.col-sm-10.mx-auto
				.content
					.title
						h2 Chương trình ưu đãi siêu tiết kiệm tại SKINDFOOD
					.briefContent
						p 
							span Location: 
							span Skinfood - Level 1
						p
							span Duration: 
							span 13.11 - 18.12.2018
					.fullContent
						p 
							a(href="#") ?#Skinfood 
							| – mỹ phẩm chiết xuất từ thực phẩm sắp ngập tràn ưu đãi gởi tặng nàng nè!
						ul
							li Toàn bộ các sản phẩm trang điểm dành cho mắt sẽ được GIẢM GIÁ 50% tại cửa hàng SkinFood Vietnam trên cả nước.
							li SALE OFF 30% các dòng son môi 
							li MUA 05 TẶNG 03: Áp dụng với các loại mặt nạ thuộc dòng Everyday Masksheet và Beauty In Food Masksheet
							li Mua hàng với hóa đơn 400.000vnđ được nhận ngay 01 sample bag (túi sản phẩm dùng thử) trị giá 50.000đ
					.image
						img(src="./img/promotion/p_detail.jpg", alt="")
				.social
					.fb-share-button(data-href='#', data-layout='button_count')
section.container
	.promotion-other
		h2.main-title More Happenings
		.row
			.col
				.swiper-container
					.swiper-wrapper
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/promotion/p_2.png", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/promotion/p_4.png", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/promotion/p_6.png", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018
						.swiper-slide
							a.item(href="promotion.detail.html")
								figure
									.img-box
										img(src="./img/promotion/p_7.png", alt="")
									figcaption
										h4 Spring / Summer 2018 fashion ad campaign roundup
										p 
											span Location: 
											span Versace - Level 3
										p 
											span Duration: 
											span 15.11 - 16.12.2018