section.home-3
	.container
		.row
			.col-lg-4.order-lg-3
				.time-box(bg-img="./img/index/i_6.png")
					h2 Operation Hour
					//- .img
					//- 	img(src="./img/index/icon_1.png", alt="")
					.content
						p 
							span Shopping Mall
							strong 9:30am - 22:00pm
						p 
							span Supermarket
							strong 9:30am - 22:00pm
						p 
							span F&B (Level 1 & 2)
							strong 9:30am - 22:00pm
			.col-lg-5.order-lg-2
				.personal-page-box
					.box-title
						.logo
							img(src="./img/logo.png", alt="")
						.title
							p Estella Place
							span 300 người theo dõi
						a.btn.btn-personal-page(href="#") Xem trang cá nhân
					.box-img
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									img(src="./img/index/i_7.png", alt="")
								.swiper-slide
									img(src="./img/index/i_8.png", alt="")
								.swiper-slide
									img(src="./img/index/i_7.png", alt="")
								.swiper-slide
									img(src="./img/index/i_8.png", alt="")
								.swiper-slide
									img(src="./img/index/i_7.png", alt="")
								.swiper-slide
									img(src="./img/index/i_8.png", alt="")
					.box-small-caption
						p Social place to unwind, share good times, dine, shop, learn & play.
			.col-lg-3.order-lg-1.social-box
				.fb-page(data-href='https://www.facebook.com/EstellaPlace', data-tabs='timeline', data-height='350px', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
					blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/EstellaPlace')
						a(href='https://www.facebook.com/EstellaPlace') Estella Place